NEXT_PUBLIC_DEV_API_URL=http://localhost:8080
NEXT_PUBLIC_DOCKER_BACKEND_URL=http://docker-core-app-1:8080
NEXT_PUBLIC_API_BASE_URL=http://scholarai-vm.eastus.cloudapp.azure.com:8080

NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GITHUB_CLIENT_ID=

# PDF Storage
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=

# Configuration
NEXT_PUBLIC_ENV=prod
ENV=dev/prod/docker

